h1{
    font-family: 'Pacifico', cursive;
    font-size: xx-large;
}

h2,h3,h4,h5,p{
    font-family: 'Raleway', sans-serif;
  }


  h6{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }

  .container{
    padding: 4rem;
    }
    
    .btn{
        padding: 12px 20px;
        background: #7F00FF;
        border: none;
        color: white;
        border-radius: 30px;
        font-size: 12px;
        text-decoration: none;
        font-weight: bold;
        transition: all .3s ease-in;
    }