.App {
  text-align: center;
}

#theseCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

#theseCards .card {
  max-width: 18rem;
  min-width: 20rem;
  max-height: 52rem;
  margin-top: 7%;
}

#pagination {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.d-block{
  max-width: 18rem;
  min-width: 20rem;
  max-height: 52rem;
}

.Navbar{
color: white;
background-color: white;
background: white;
}
.navbar-brand{
  font-family: 'Pacifico', cursive;
  font-size: x-large;
}
.navbar-nav{

  font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,p{
  font-family: 'Raleway', sans-serif;
}
h6{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
.button {     
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;    
      
}

.go-but{
  background: #0e9bb4;
  color: white;
  width: 80px;
  height: 30px;
  margin: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size: 11px;
  line-height: 32px;
  text-transform: uppercase;
}

.container{
padding: 4rem;
}
